body {
  background: lightblue;
  font-family: Roboto, cursive, sans-serif;
  color: black;
  border: 10px solid navy;
  border-radius: 10px;
  margin: 0px;
  padding: 0;
}

header {
  color: Black;
  position: relative;
  top: 1%;
  left: 10%;
  margin: 0px;
  width: 100%
}

h2 {
  margin: 0px;
  font-size: 30px;
}

section {
  background: white;
  padding: 16px;
  margin: 50px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 4px gray;
}

img{
  border-radius: 50%;
}

nav a{
    text-decoration: none;
    color: rose;
}

.class:hover {
    color: darkred;
}

#Happy {
  position: relative;
  display: block;
  top: 25px;
  left: 20px;
  transition: transform 3s;

}

#Happy:hover {
    color: red;
    transform: rotateZ(1080deg);
    transform-origin: 50% 50%;
}

#school {
  margin-left: 150px;
}

#self {
  border-radius: 0px;
  margin-left: 350px;
}

#lists {

}

#Top-menu {
    background: grey;
    width: 100%;
    height: 100px;
    margin: 0px;
}
